* {
	font-family: sans-serif;
}
.searchBox {
	width: 320px;
	margin: 50px auto;
	border: 1px solid grey;
}
.input {
	width: 98%;
}
.list {
	width: 100%;
	height: 420px;
	border: 1px solid black;
	overflow-y: scroll;
}
.userCard {
	padding: 8px 16px;
	border-bottom: 1px solid grey;
}
.noCardFound {
	margin: 40px auto;
	text-align: center;
	color: gray;
	font-size: 24px;
}

.userCard p {
	margin: 5px auto;
}
.id {
	font-weight: 700;
}
.name {
	font-style: italic;
}
.address,
.pincode {
	color: grey;
	font-size: 13px;
}
